<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Food Eaten</title>
</head>
<body>
    <form id="food-eaten-form">
        <select id="food" name="food">
            <!-- 假设从后端获取并填充食物选项 -->
        </select>
        <input type="number" id="amount" name="amount" placeholder="Amount">
        <input type="date" id="date" name="date">
        <button type="submit">Add Food</button>
    </form>

    <script>
        function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        const csrftoken = getCookie('csrftoken');
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/nutrition/foods/')
            .then(response => response.json())
            .then(data => {
                const foodSelect = document.getElementById('food');
                data.forEach(food => {
                    let option = document.createElement('option');
                    option.value = food.id;
                    option.textContent = food.name;
                    foodSelect.appendChild(option);
                });
            });
        });
        document.getElementById('food-eaten-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const food = document.getElementById('food').value;
            const amount = document.getElementById('amount').value;
            const date = document.getElementById('date').value;
            const token = localStorage.getItem('token');  // 假设 token 存储在 localStorage

            fetch('/nutrition/add-food-eaten', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ food, amount, date })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // 处理响应...
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>