{% extends 'base.html' %}

{% load static %}

{% block title %}Fit 35 Dashboard{% endblock %}

{% block extra_resources %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.5.0/css/ol.css"
    type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.5.0/build/ol.js"></script>
{% endblock %}

{% block css-style %}
<style>
    .tab-link {
        cursor: pointer;
    }

    a.level-item {
        color: inherit;
    }

    a.is-active-level {
        color: #3273dc;
        cursor: default;
    }

    .graph-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 20px;
    }

    .graph-labels {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .bar {
        border-radius: 5px 5px 0 0;
        width: 50px;
        position: relative;
    }

    .bar:last-child {
        margin-right: 0;
    }

    .bar-deficit {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: #333;
    }

    .bar-day {
        margin-top: 5px;
        text-align: center;
        color: #333;
        width: 60px;
    }

    .chart-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .pie-chart {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: #fff;
    }

    .chart-info {
        text-transform: capitalize;
        font-size: 20px;
    }

    .chart-info ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .chart-info ul li {
        margin-bottom: 10px;
        text-align: right;
    }

    .chart-info ul li span {
        width: 30px;
        height: 20px;
        border-radius: 5px;
        margin-left: 5px;
        display: inline-block;
    }

    #map {
        width: 100%;
        height: 400px;
    }

    .clickable-list-item {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .clickable-list-item:hover {
        background-color: #f0f0f0;
    }

    .centered-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #back-to-user-location {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #back-to-user-location:hover {
        background-color: #45a049;
    }
</style>
{% endblock %}

{% block content %}
<section class="section block box">
    <div id="metabolism-app" class="columns has-text-centered">
        <div class="column is-one-third">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <p>Exercise Metabolism<span class="ml-4">[[ metabolismData.exerciseMetabolism ]]</span></p>
                </div>
                <div class="column is-full">
                    <p>Daily Basal Metabolism<span class="ml-4">[[ metabolismData.dailyBasalMetabolism ]]</span></p>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <p>Calories Taken<span class="ml-4">[[ metabolismData.caloriesTaken ]]</span></p>
                </div>
                <div class="column is-full">
                    <p>Sum for Today<span class="ml-4">[[ metabolismData.sumForToday ]]</span></p>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <a href="{% url 'food_page' %}" class="button is-link">To Record</a>
        </div>
    </div>
</section>
<section class="block">
    <div class="columns is-gapless">
        <div id="calorie-bar-app" class="column is-half box">
            <h5 class="title is-5 has-text-centered">Weekly Calorie Deficit Graph</h5>
            <hr>
            <div class="graph-container">
                <div v-for="item in weeklyMetabolismData" class="bar" :style="barStyle(item.total)">
                    <div class="bar-deficit">[[ item.total ]]</div>
                </div>
            </div>
            <div class="graph-labels">
                <div v-for="item in weeklyMetabolismData" class="bar-day">[[ item.day ]]</div>
            </div>
        </div>
        <div id="calorie-pie-app" class="column is-half box">
            <h5 class="title is-5 has-text-centered">Today's Nutrition Intake: [[ today ]]</h5>
            <hr>
            <div class="chart-wrap">
                <figure class="pie-chart" :style="pieStyle()"></figure>
                <div class="chart-info">
                    <ul>
                        <li><span>Fat [[ intake.fat ]]</span><span style="background-color: #f7f25e;"></span></li>
                        <li><span>Carbohydrate [[ intake.carbohydrate ]]</span><span
                                style="background-color: #67f594;"></span></li>
                        <li><span>Protein [[ intake.protein ]]</span><span style="background-color: #cf5351;"></span>
                        </li>
                        <li><span>Other [[ intake.other ]]</span><span style="background-color: #166778;"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block">
    <div class="columns">
        <div id="gym-list-section" class="column box is-full">
            <h5 class="title is-5 has-text-centered">Gym List</h5>
            <div class="card">
                <div class="card-content" style="max-height: 300px; overflow-y: auto;">
                    <div class="content">
                        <ul id="gym-list"></ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content" style="max-height: 300px; overflow-y: auto;">
                    <div class="content">
                        <button id="back-to-user-location" style="display: block; margin: 0 auto;">Back to my
                            position</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block">
    <div id="map"></div>
</section>

<script src="{% static 'dashboard.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}