{% extends 'base.html' %}

{% load static %}

{% block title %}Fit 35 Food Page{% endblock %}

{% block css-style %}
<style>
    .card-content {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock %}

{% block nav %}
<nav class="level navbar">
    <p class="level-item has-text-centered">
        <img src="{% static 'boat.png' %}" alt="" style="height: 80px;">
        <span class="is-family-primary has-text-weight-bold">35 Fit</span>
    </p>
    <p class="level-item has-text-centered">
        DASHBOARD
    </p>
    <p class="level-item has-text-centered">
        CALORIE QUERY
    </p>
    <p class="level-item has-text-centered">
        EXPERT ARTICLES
    </p>
    <div class="navbar-item level-item has-dropdown is-hoverable">
        <a class="navbar-link">
            Welcome back, {{ username }}
        </a>
        <div class="navbar-dropdown">
            <a href="#" class="dropdown-item level-item">
                Account & Profile
            </a>
            <a href="#" class="dropdown-item level-item">
                Sign Out
            </a>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<section>
    <div class="box">
        <div class="container">
            <div class="tabs is-centered is-medium">
                <ul>
                    <li class="is-active"><a>Food Calories</a></li>
                    <li><a>Exercise Calories</a></li>
                </ul>
            </div>
            <div class="search">
                <div class="field">
                    <div class="control has-icons-right">
                        <input class="input" type="text" placeholder="Search Food">
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box columns is-multiline">
        <div class="column is-one-quarter">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="{% static 'grocery.jpeg' %}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="food_exercise_content">
                        <h3 class="subtitle is-3">Pasta</h3>
                        <div class="describe">
                            <p>hello<br>world</p>
                        </div>
                    </div>
                    <span class="icon">
                        <i class="fas fas fa-2x fa-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Record the food had today
                    </p>
                </header>
                <div class="card-image">
                    <figure class="image is-3by2">
                        <img src="{% static 'grocery.jpeg' %}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Food name:</td>
                                    <td>Potato</td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td>
                                        <input class="input" type="text" placeholder="unit: g">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div class="block">
        <nav class="pagination is-right" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
</section>
<button class="button is-primary js-modal-trigger" data-target="modal-js-example">
    Open JS example modal
</button>
<script type="module" src="{% static 'food_exercise.js' %}"></script>
{% endblock %}

{% block footer %}{% endblock %}